@import "tailwindcss";

@theme {
  --color-primary: #10B981;
  --color-secondary: #A855F7;
  --color-background-dark: #000000;
  --color-card-dark: #0A0A0A;
  --color-gold: #FFD700;
  --color-silver: #C0C0C0;
  --color-bronze: #CD7F32;
  --color-neon-green: #39FF14;

  --font-display: "Montserrat", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }

  .filled {
    font-variation-settings: 'FILL' 1;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes levitate {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }
  }

  .animate-levitate {
    animation: levitate 3s ease-in-out infinite;
  }
}

@layer components {
  .ios-underlined-input {
    @apply bg-transparent border-none border-b border-zinc-800 rounded-none px-0 focus:ring-0 focus:border-primary;
  }
}